
body {
	background-image: url(../img/background.webp);
	height: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

h1,
h2 {
	text-align: center;
	font-family: 'Ewert';
	font-size: 50px;
}

h2:hover {
    color: rgb(250, 114, 99);
}
li {
	display: inline-block;
	color: black;
	font-family: "Slabo", serif;
}
button {
	background-color: whitesmoke;
	display: block;
	margin: auto;
	font-size: 18px;
}

div {
	cursor:grab;
}

.rumput {
	width: 200px;
	height: 200px;
	overflow: hidden;
	float: left;
	position: relative;
}

.rumput::after {
	content: '';
	display: block;
	background: url(../img/rumput.png) bottom center no-repeat;
	background-size: 190%;
	position: absolute;
	width: 200px;
	height: 100px;
	bottom: -25px;
}

.kupu2 {
	background: url(../img/kupu2.png) bottom center no-repeat;
	background-size: 90%;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100px;
	transition: top 0.3s;
}

.rumput.muncul .kupu2 {
	top: -15px;
}
